.ui-loader{position:relative}.ui-loader.show .overlay{content:"";position:absolute;width:100%;height:100%;top:0;background-color:rgba(34,41,47,.3)}.ui-loader.show>:first-child,.ui-loader.show code{background-color:initial}.ui-loader .loader{top:50%;left:50%;display:flex;position:absolute;align-items:center;flex-direction:column;justify-content:center;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%)}
/*# sourceMappingURL=43.d44a404c.chunk.css.map */